.like,.comment,.share{
    cursor: pointer;
}
.like:hover,.comment:hover,.share:hover{
    background-color: rgb(216, 216, 216);
}
.likes-comments{
    display: flex;
    justify-content: space-between;
}